
.purple2.qaDetail {
  color: #7E57C2;
  float: left;
}

.gray.qaDetail {
  color: #949494;
  float: left;
}

#go_back:hover {
    cursor: pointer;
}

.info-icon {
    float: right;
}

.info-icon .icon div {
    font-weight: bold;
    float: right;
}

.info-icon .icon span {
    max-width: 24px;
    padding-left: 20px;
    flex-wrap: wrap;
}

.info-icon .icon div div {
    margin: 5px;
}