<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisein.wiselab.mapper.scrapMapper">

    <sql id="sort">
        <if test="sort == null"></if>
        <if test="sort == 'num'">
            A.NUM
        </if>
        <if test="sort == 'subject'">
            <![CDATA[
                (
                CASE
                    WHEN ASCII(SUBSTRING(UPPER(A.SUBJECT),1,1)) BETWEEN 65 AND 90 THEN 2 -- 영어
                    WHEN ASCII(SUBSTRING(A.SUBJECT,1,1)) BETWEEN 48 AND 57 THEN 3 -- 숫자
                    WHEN ASCII(SUBSTRING(A.SUBJECT,1,1)) BETWEEN 33 AND 47 THEN 4
                    WHEN ASCII(SUBSTRING(A.SUBJECT,1,1)) BETWEEN 58 AND 64 THEN 4
                    WHEN ASCII(SUBSTRING(A.SUBJECT,1,1)) BETWEEN 91 AND 96 THEN 4
                    WHEN ASCII(SUBSTRING(A.SUBJECT,1,1)) BETWEEN 123 AND 126 THEN 4
                    ELSE 1 -- 한글
                END
                ),
            ]]>
            A.SUBJECT
        </if>
        <if test="sort == 'commCnt'">
            COMM_CNT
        </if>
        <if test="sort == 'likeCount'">
            A.LIKE_COUNT
        </if>
        <if test="sort == 'scrapCount'">
            A.SCRAP_COUNT
        </if>
        <if test="sort == 'writer'">
            A.WRITER
        </if>
        <if test="sort == 'regDate'">
            A.REG_DATE
        </if>
        <if test="sort == 'count'">
            A.COUNT
        </if>
    </sql>

    <sql id="order">
        <if test="order == null"></if>
        <if test="order == 'desc'">
            DESC,
        </if>
        <if test="order == 'asc'">
            ,
        </if>
    </sql>

    <!-- Scrap 여부 조회-->
    <select id="TipScrapYN" parameterType="ScrapBoardDTO" resultType="String">
        SELECT DEL_YN
        FROM
            Scrap_board
        WHERE USER_ID = #{userId}
        AND BOARD_TYPE = #{boardType}
        AND BOARD_IDX = #{boardIdx}
    </select>

    <select id="QaScrapYN" parameterType="ScrapBoardDTO" resultType="String">
        SELECT DEL_YN
        FROM
            Scrap_board
        WHERE USER_ID = #{userId}
        AND BOARD_TYPE = #{boardType}
        AND BOARD_IDX = #{boardIdx}
    </select>

    <!-- Scrap 등록-->
    <insert id="insertScrap" parameterType="ScrapBoardDTO">
        INSERT INTO Scrap_board
        (
            IDX
            ,USER_ID
            ,BOARD_IDX
            ,BOARD_TYPE
            ,DEL_YN
        )
        VALUES
        (
            (SELECT NVL(MAX(idx), 0) + 1 FROM Scrap_board ALIAS_FOR_SUBQUERY)
            , #{userId}
            , #{boardIdx}
            , #{boardType}
            , 'N'
        )
    </insert>

    <!-- Scrap 재등록-->
    <update id="doScrap" parameterType="ScrapBoardDTO">
        UPDATE
            Scrap_board
        SET
            DEL_YN = 'N'
        WHERE USER_ID = #{userId}
        AND BOARD_TYPE = #{boardType}
        AND BOARD_IDX = #{boardIdx}
    </update>

    <!-- Scrap 해제-->
    <update id="undoScrap" parameterType="ScrapBoardDTO">
        UPDATE
            Scrap_board
        SET
            DEL_YN = 'Y'
        WHERE USER_ID = #{userId}
        AND BOARD_TYPE = #{boardType}
        AND BOARD_IDX = #{boardIdx}
    </update>

    <!-- Scrap 등록시 게시글 ScrapCount 증가-->
    <update id="addTipScrapCount" parameterType="int">
        UPDATE
            tip_board
        SET
            Scrap_COUNT = Scrap_COUNT+1
        WHERE num = #{num}
    </update>

    <!-- Scrap 해제시 게시글 ScrapCount 감소-->
    <update id="delTipScrapCount" parameterType="int">
        UPDATE
            tip_board
        SET
            Scrap_COUNT = Scrap_COUNT-1
        WHERE num = #{num}
    </update>

    <!-- Scrap 등록시 게시글 ScrapCount 증가-->
    <update id="addQaScrapCount" parameterType="int">
        UPDATE
        qa_board
        SET
        SCRAP_COUNT = SCRAP_COUNT+1
        WHERE num = #{num}
    </update>

    <!-- Scrap 해제시 게시글 ScrapCount 감소-->
    <update id="delQaScrapCount" parameterType="int">
        UPDATE
        qa_board
        SET
        SCRAP_COUNT = SCRAP_COUNT-1
        WHERE num = #{num}
    </update>

    <!-- like 게시글 parentNum -->
    <select id="getScrapParentNum" parameterType="int" resultType="int">
        SELECT
            PARENT_NUM
        FROM
            qa_board
        WHERE
            NUM = #{num}
    </select>

    <!-- TIP Scrap 모아보기 -->
    <select id="selectTipScrap" parameterType="Map" resultType="TipBoardDTO">
        <![CDATA[
        SELECT A.NUM
              ,A.CATEGORY
              ,A.WRITER
              ,A.SUBJECT
              ,A.CONTENT
              ,A.REG_DATE
              ,A.UPD_DATE
              ,A.COUNT
              ,A.PARENT_NUM
              ,A.LIKE_COUNT
              ,A.SCRAP_COUNT
        FROM ( SELECT BOARD_IDX
                    , BOARD_TYPE
                 FROM SCRAP_BOARD
                WHERE USER_ID = #{userId}
                  AND DEL_YN = 'N' ) SB
            , ( SELECT NUM
                     , CATEGORY
                     , WRITER
                     , TRIM(SUBJECT) AS SUBJECT
                     , CONTENT
                     , REG_DATE
                     , UPD_DATE
                     , COUNT
                     , PARENT_NUM
                     , LIKE_COUNT
                     , SCRAP_COUNT
                  FROM TIP_BOARD
                 WHERE DEL_YN = 'N' ) A
        WHERE 1=1
          AND SB.BOARD_TYPE = 'tip'
          AND SB.BOARD_IDX = A.NUM
          AND A.CATEGORY = CASE WHEN #{searchType} != 'all' THEN #{searchType} ELSE CATEGORY END
        ]]>
        ORDER BY <include refid='sort'/> <include refid='order'/> A.NUM DESC
    </select>

    <!-- Tip Scrap 게시글 개수 조회 -->
    <select id="selectTipTotalCount" parameterType="Map" resultType="int">
        <![CDATA[
		SELECT COUNT(A.NUM)
		  FROM TIP_BOARD A
		      , (SELECT BOARD_IDX
                      , BOARD_TYPE
                      , USER_ID
                 FROM SCRAP_BOARD
                 WHERE USER_ID = #{userId}
                 AND DEL_YN = 'N' ) SB
	     WHERE 1=1
		   AND CATEGORY = CASE WHEN #{searchType} != 'all' THEN #{searchType} ELSE CATEGORY END
           AND SB.BOARD_TYPE = 'tip'
           AND SB.BOARD_IDX = A.NUM
		   AND A.NUM > 0
		]]>
    </select>

    <!-- QA Scrap 모아보기 -->
    <select id="selectQaScrap" parameterType="ScrapBoardDTO" resultType="QaListDTO">
        SELECT *
        FROM ( SELECT BOARD_IDX
                    , BOARD_TYPE
                 FROM SCRAP_BOARD
                WHERE USER_ID = #{userId}
                  AND DEL_YN = 'N' ) SB
           , ( SELECT NUM
                    , CATEGORY
                    , WRITER
                    , SUBJECT
                    , CONTENT
                    , REG_DATE
                    , UPD_DATE
                    , LIKE_COUNT
                    , SCRAP_COUNT
                    , COUNT
                 FROM QA_BOARD
                WHERE DEL_YN = 'N' ) A
        WHERE SB.BOARD_TYPE = 'qa'
        AND SB.BOARD_IDX = A.NUM
        ORDER BY <include refid='sort'/> <include refid='order'/> A.NUM DESC
    </select>

    <!-- QA Scrap 게시글 개수 조회 -->
    <select id="selectQaTotalCount" parameterType="ScrapBoardDTO" resultType="int">
        <![CDATA[
		SELECT COUNT(A.NUM)
		  FROM QA_BOARD A
		      , (SELECT BOARD_IDX
                      , BOARD_TYPE
                 FROM SCRAP_BOARD
                 WHERE USER_ID = #{userId}
                 AND DEL_YN = 'N' ) SB
	     WHERE 1=1
		   AND CATEGORY = CASE WHEN #{searchType} != 'all' THEN #{searchType} ELSE CATEGORY END
           AND SUBJECT LIKE CONCAT ('%', #{keyword}, '%')
           AND SB.BOARD_TYPE = 'qa'
           AND SB.BOARD_IDX = A.NUM
           AND USER_ID = #{userId}
		   AND NUM > 0
		]]>
    </select>

</mapper>