<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisein.wiselab.mapper.scrapMapper">

    <!-- Scrap 여부 조회-->
    <select id="TipScrapYN" parameterType="ScrapBoardDTO" resultType="String">
        SELECT DEL_YN
        FROM
            Scrap_board
        WHERE USER_ID = #{userId}
        AND BOARD_TYPE = #{boardType}
        AND BOARD_IDX = #{boardIdx}
    </select>

    <select id="QaScrapYN" parameterType="ScrapBoardDTO" resultType="String">
        SELECT DEL_YN
        FROM
            Scrap_board
        WHERE USER_ID = #{userId}
        AND BOARD_TYPE = #{boardType}
        AND BOARD_IDX = #{boardIdx}
    </select>

    <!-- Scrap 등록-->
    <insert id="insertScrap" parameterType="ScrapBoardDTO">
        INSERT INTO Scrap_board
        (
            IDX
            ,USER_ID
            ,BOARD_IDX
            ,BOARD_TYPE
            ,DEL_YN
        )
        VALUES
        (
            (SELECT NVL(MAX(idx), 0) + 1 FROM Scrap_board ALIAS_FOR_SUBQUERY)
            , #{userId}
            , #{boardIdx}
            , #{boardType}
            , 'N'
        )
    </insert>

    <!-- Scrap 재등록-->
    <update id="doScrap" parameterType="ScrapBoardDTO">
        UPDATE
            Scrap_board
        SET
            DEL_YN = 'N'
        WHERE USER_ID = #{userId}
        AND BOARD_TYPE = #{boardType}
        AND BOARD_IDX = #{boardIdx}
    </update>

    <!-- Scrap 해제-->
    <update id="undoScrap" parameterType="ScrapBoardDTO">
        UPDATE
            Scrap_board
        SET
            DEL_YN = 'Y'
        WHERE USER_ID = #{userId}
        AND BOARD_TYPE = #{boardType}
        AND BOARD_IDX = #{boardIdx}
    </update>

    <!-- Scrap 등록시 게시글 ScrapCount 증가-->
    <update id="addTipScrapCount" parameterType="int">
        UPDATE
            tip_board
        SET
            Scrap_COUNT = Scrap_COUNT+1
        WHERE num = #{num}
    </update>

    <!-- Scrap 해제시 게시글 ScrapCount 감소-->
    <update id="delTipScrapCount" parameterType="int">
        UPDATE
            tip_board
        SET
            Scrap_COUNT = Scrap_COUNT-1
        WHERE num = #{num}
    </update>

    <!-- Scrap 등록시 게시글 ScrapCount 증가-->
    <update id="addQaScrapCount" parameterType="int">
        UPDATE
        qa_board
        SET
        SCRAP_COUNT = SCRAP_COUNT+1
        WHERE num = #{num}
    </update>

    <!-- Scrap 해제시 게시글 ScrapCount 감소-->
    <update id="delQaScrapCount" parameterType="int">
        UPDATE
        qa_board
        SET
        SCRAP_COUNT = SCRAP_COUNT-1
        WHERE num = #{num}
    </update>

    <!-- like 게시글 parentNum -->
    <select id="getScrapParentNum" parameterType="int" resultType="int">
        SELECT
            PARENT_NUM
        FROM
            qa_board
        WHERE
            NUM = #{num}
    </select>



    <!--QaBoard 작성글 모아보기-->
    <select id="selectBoardTotalCount" parameterType="ScrapBoardDTO" resultType="int">
        <![CDATA[
		SELECT COUNT(NUM)
		  FROM TIP_BOARD
	     WHERE 1=1
		   AND CATEGORY = CASE WHEN #{searchType} != 'all' THEN #{searchType} ELSE CATEGORY END
           AND SUBJECT LIKE CONCAT ('%', #{keyword}, '%')
           AND WRITER = #{writer}
		   AND DEL_YN = 'N'
		   AND NUM > 0]]>
        AND PARENT_NUM is NULL
    </select>

    <!--QaBoard 작성글 모아보기-->
    <select id="selectMemberQaCommentTotalCount" parameterType="ScrapBoardDTO" resultType="int">
        <![CDATA[
		SELECT COUNT(NUM)
		  FROM TIP_BOARD
	     WHERE 1=1
		   AND CATEGORY = CASE WHEN #{searchType} != 'all' THEN #{searchType} ELSE CATEGORY END
           AND SUBJECT LIKE CONCAT ('%', #{keyword}, '%')
           AND WRITER = #{writer}
		   AND DEL_YN = 'N'
		   AND NUM > 0]]>
        AND PARENT_NUM is NOT NULL
    </select>


    <select id="selectScrapList" parameterType="ScrapBoardDTO" resultType="ScrapBoardDTO">
        <![CDATA[
            SELECT A.RNUM
                  ,A.NUM
                  ,A.CATEGORY
                  ,A.WRITER
                  ,A.SUBJECT
                  ,A.CONTENT
                  ,A.REG_DATE
                  ,A.UPD_DATE
                  ,A.DEL_YN
                  ,A.PARENT_NUM
                  ,A.LIKE_COUNT
                  ,A.SCRAP_COUNT
                  ,(SELECT COUNT(*)
                      FROM COMMENT COM
                     WHERE COM.BOARD_IDX = A.NUM
                       AND COM.DEL_YN = 'n'
                       AND COM.BOARD_TYPE ='tip') AS COMM_CNT
            FROM (SELECT @ROWNUM:=@ROWNUM+1 AS RNUM
                        ,TB.NUM
                        ,TB.CATEGORY
                        ,TB.WRITER
                        ,TB.SUBJECT
                        ,TB.CONTENT
                        ,TB.REG_DATE
                        ,TB.UPD_DATE
                        ,TB.DEL_YN
                        ,TB.COUNT
                        ,TB.PARENT_NUM
                        ,TB.LIKE_COUNT
                        ,TB.SCRAP_COUNT
                   FROM TIP_BOARD TB
                       ,(SELECT @ROWNUM:=0) R
                       ,(SELECT SB.BOARD_TYPE FROM SCRAP_BOARD) SB
                  WHERE TB.WRITER = SB.USER_ID
                    AND CATEGORY = CASE WHEN #{searchType} != 'all' THEN #{searchType} ELSE CATEGORY END
                    AND SUBJECT LIKE CONCAT ('%', #{keyword}, '%')
                    AND TB.WRITER = #{writer}
                    AND SB.BOARD_TYPE = 'tip'
                    AND TB.DEL_YN = 'N'
                    AND TB.NUM > 0]]>
        GROUP BY TB.NUM
        ORDER BY NUM DESC
        ) AS A
        LIMIT #{firstRecordIndex}, #{RECORDSPERPAGE}

    </select>




























</mapper>