<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisein.wiselab.mapper.tipBoardMapper">

    <sql id="sort">
        <if test="sort == 'num'">
            A.NUM
        </if>
        <if test="sort == 'subject'">
            <![CDATA[
                (
                CASE
                    WHEN ASCII(SUBSTRING(UPPER(A.SUBJECT),1,1)) BETWEEN 65 AND 90 THEN 2 -- 영어
                    WHEN ASCII(SUBSTRING(A.SUBJECT,1,1)) BETWEEN 48 AND 57 THEN 3 -- 숫자
                    WHEN ASCII(SUBSTRING(A.SUBJECT,1,1)) BETWEEN 33 AND 47 THEN 4
                    WHEN ASCII(SUBSTRING(A.SUBJECT,1,1)) BETWEEN 58 AND 64 THEN 4
                    WHEN ASCII(SUBSTRING(A.SUBJECT,1,1)) BETWEEN 91 AND 96 THEN 4
                    WHEN ASCII(SUBSTRING(A.SUBJECT,1,1)) BETWEEN 123 AND 126 THEN 4
                    ELSE 1 -- 한글
                END
                ),
            ]]>
            A.SUBJECT
        </if>
        <if test="sort == 'commCnt'">
            COMM_CNT
        </if>
        <if test="sort == 'likeCount'">
            A.LIKE_COUNT
        </if>
        <if test="sort == 'scrapCount'">
            A.SCRAP_COUNT
        </if>
        <if test="sort == 'writer'">
            A.WRITER
        </if>
        <if test="sort == 'regDate'">
            A.REG_DATE
        </if>
        <if test="sort == 'count'">
            A.COUNT
        </if>
    </sql>

    <sql id="order">
        <if test="order == 'desc'">
            DESC,
        </if>
        <if test="order == 'asc'">
            ,
        </if>
    </sql>

    <!--TipBoard 다건조회-->
    <select id="selectTipList" parameterType="TipBoardDTO" resultType="TipBoardDTO">
        <![CDATA[
            SELECT A.RNUM
                  ,A.NUM
                  ,A.CATEGORY
                  ,A.WRITER
                  ,A.SUBJECT
                  ,A.CONTENT
                  ,A.REG_DATE
                  ,A.UPD_DATE
                  ,A.DEL_YN
                  ,A.COUNT
                  ,A.PARENT_NUM
                  ,A.LIKE_COUNT
                  ,A.SCRAP_COUNT
                  ,(SELECT COUNT(*)
                      FROM COMMENT COM
                     WHERE COM.BOARD_IDX = A.NUM
                       AND COM.DEL_YN = 'n'
                       AND COM.BOARD_TYPE ='tip') AS COMM_CNT
            FROM (SELECT @ROWNUM:=@ROWNUM+1 AS RNUM
                        ,TB.NUM
                        ,TB.CATEGORY
                        ,TB.WRITER
                        ,TB.SUBJECT
                        ,TB.CONTENT
                        ,TB.REG_DATE
                        ,TB.UPD_DATE
                        ,TB.DEL_YN
                        ,TB.COUNT
                        ,TB.PARENT_NUM
                        ,TB.LIKE_COUNT
                        ,TB.SCRAP_COUNT
                   FROM TIP_BOARD TB
                       ,(SELECT @ROWNUM:=0) R
                  WHERE 1=1
                    AND CATEGORY = CASE WHEN #{searchType} != 'all' THEN #{searchType} ELSE CATEGORY END
                    AND SUBJECT LIKE CONCAT ('%', #{keyword}, '%')
                    AND DEL_YN = 'N'
                    AND TB.NUM > 0
                  GROUP BY TB.NUM
                  ORDER BY NUM DESC
                  ) AS A
        ]]>
            ORDER BY <include refid='sort'/> <include refid='order'/> A.NUM DESC
        <![CDATA[
            LIMIT #{firstRecordIndex}, #{RECORDSPERPAGE}
        ]]>
        </select>

    <!--TipBoard 작성글 모아보기-->
    <select id="selectMemberTipList" parameterType="TipBoardDTO" resultType="TipBoardDTO">
        <![CDATA[
            SELECT A.RNUM
                  ,A.NUM
                  ,A.CATEGORY
                  ,A.WRITER
                  ,A.SUBJECT
                  ,A.CONTENT
                  ,A.REG_DATE
                  ,A.UPD_DATE
                  ,A.DEL_YN
                  ,A.COUNT
                  ,A.PARENT_NUM
                  ,A.LIKE_COUNT
                  ,A.SCRAP_COUNT
                  ,(SELECT COUNT(*)
                      FROM COMMENT COM
                     WHERE COM.BOARD_IDX = A.NUM
                       AND COM.DEL_YN = 'n'
                       AND COM.BOARD_TYPE ='tip') AS COMM_CNT
            FROM (SELECT @ROWNUM:=@ROWNUM+1 AS RNUM
                        ,TB.NUM
                        ,TB.CATEGORY
                        ,TB.WRITER
                        ,TB.SUBJECT
                        ,TB.CONTENT
                        ,TB.REG_DATE
                        ,TB.UPD_DATE
                        ,TB.DEL_YN
                        ,TB.COUNT
                        ,TB.PARENT_NUM
                        ,TB.LIKE_COUNT
                        ,TB.SCRAP_COUNT
                   FROM TIP_BOARD TB
                       ,(SELECT @ROWNUM:=0) R
                  WHERE 1=1
                    AND CATEGORY = CASE WHEN #{searchType} != 'all' THEN #{searchType} ELSE CATEGORY END
                    AND SUBJECT LIKE CONCAT ('%', #{keyword}, '%')
                    AND WRITER = #{writer}
                    AND DEL_YN = 'N'
                    AND TB.NUM > 0
                  GROUP BY TB.NUM
                  ORDER BY NUM DESC
                  ) AS A
            ]]>
            ORDER BY <include refid='sort'/> <include refid='order'/> A.NUM DESC
            <![CDATA[
            LIMIT #{firstRecordIndex}, #{RECORDSPERPAGE}
            ]]>
        </select>

        <!--TipBoard 단건조회-->
        <select id="selectTipOne" parameterType="TipBoardDTO" resultType="TipBoardDTO">
            SELECT NUM
                  ,CATEGORY
                  ,WRITER
                  ,SUBJECT
                  ,CONTENT
                  ,REG_DATE
                  ,UPD_DATE
                  ,DEL_YN
                  ,COUNT
                  ,PARENT_NUM
                  ,LIKE_COUNT
             FROM TIP_BOARD
            WHERE NUM = #{num}
    </select>

    <!--TipBoard 게시글 등록-->
    <insert id="insertTipBoard" parameterType="TipBoardDTO">
        INSERT INTO TIP_BOARD
              (NUM
              ,CATEGORY
              ,WRITER
              ,SUBJECT
              ,CONTENT
              ,REG_DATE
              ,DEL_YN
              )
        VALUES
              ((SELECT NVL(MAX(num), 0) + 1 FROM tip_board ALIAS_FOR_SUBQUERY)
              ,#{category}
              ,#{writer}
              ,#{subject}
              ,#{content}
              ,(SELECT date_format(now(),'%Y-%c-%d'))
              ,'N'
              )
    </insert>

    <!--TipBoard 게시글 삭제-->
    <update id="deleteTipBoard" parameterType="Integer">
        UPDATE TIP_BOARD
           SET DEL_YN = 'Y'
         WHERE NUM = #{num}
    </update>

    <!--TipBoard 게시글 수정-->
    <update id="updateTipBoard" parameterType="TipBoardDTO">
        UPDATE TIP_BOARD
           SET CATEGORY = #{category}
              ,SUBJECT = #{subject}
              ,CONTENT = #{content}
              ,UPD_DATE = (SELECT date_format(now(),'%Y-%c-%d'))
        WHERE NUM = #{num}
    </update>

    <!--TipBoard 게시글 번호 조회-->
    <select id="selectTipPostNum" parameterType="TipBoardDTO" resultType="Integer">
        SELECT NUM
          FROM TIP_BOARD
         WHERE WRITER = #{writer}
           AND SUBJECT = #{subject}
           AND CONTENT = #{content}
           AND DEL_YN = 'N'
         ORDER BY NUM desc limit 1
    </select>

    <!--TipBoard 다음 게시글 번호 조회-->
    <select id="selectNextTipNum" resultType="Integer">
        SELECT NVL(MAX(num), 0)+1 AS NUM
          FROM TIP_BOARD
    </select>

    <!--전체 게시글 개수 조회-->
    <select id="selectBoardTotalCount" parameterType="TipBoardDTO" resultType="int">
        <![CDATA[
		SELECT COUNT(NUM)
		  FROM TIP_BOARD
	     WHERE 1=1
		   AND CATEGORY = CASE WHEN #{searchType} != 'all' THEN #{searchType} ELSE CATEGORY END
           AND SUBJECT LIKE CONCAT ('%', #{keyword}, '%')
		   AND DEL_YN = 'N'
		   AND NUM > 0
		]]>
    </select>

    <!--모아보기 게시글 개수 조회-->
    <select id="selectMemberTipTotalCount" parameterType="TipBoardDTO" resultType="int">
        <![CDATA[
		SELECT COUNT(NUM)
		  FROM TIP_BOARD
	     WHERE 1=1
		   AND CATEGORY = CASE WHEN #{searchType} != 'all' THEN #{searchType} ELSE CATEGORY END
           AND SUBJECT LIKE CONCAT ('%', #{keyword}, '%')
           AND WRITER = #{writer}
		   AND DEL_YN = 'N'
		   AND NUM > 0
		]]>
    </select>

    <!-- 서치 게시글 총 개수 -->
    <select id="listSearchCount" resultType="int">
        <![CDATA[
		SELECT COUNT(NUM)
		  FROM TIP_BOARD
		 WHERE 1=1
		   AND NUM > 0
		]]>
    </select>

    <!-- 작성자 meetLink -->
    <select id="selectMeetLink" parameterType="Integer" resultType="string">
        SELECT MEET_LINK
          FROM MEMBER
         WHERE ID = (SELECT WRITER
                       FROM TIP_BOARD
                      WHERE NUM = #{num}
                        AND DEL_YN = 'N'
                     )
    </select>

    <!-- 카테고리 조회 -->
    <select id="categoryList" resultType="TipBoardDTO">
        SELECT '전체' AS CATEGORY
        FROM DUAL
        UNION ALL
        SELECT DISTINCT CATEGORY
        FROM TIP_BOARD
    </select>

    <!-- 조회수 증가 -->
    <update id="updateCount" parameterType="Integer">
        UPDATE TIP_BOARD
        SET COUNT = COUNT+1
        WHERE NUM = #{num}
    </update>

</mapper>